doctype html
html
    head
        title Contact List
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/water.css@2/out/light.css')
    body
        nav
            if !user
                a(href='/login') Login |
                a(href='/signup') Signup
            else
                span Welcome, #{user.firstName} #{user.lastName} |
                a(href='/logout') Logout
        block content
