doctype html
html
    head
        title Contact List
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/water.css@2/out/light.css')
    body
        nav
            if !user
                a(href='/login') Sign in |
                a(href='/signup') Sign up
            else
                span #{user.Username} 
                a(href='/logout') Logout
        block content
