extends layout
block content
    h1 Sign in
    if error
        p.error #{error}
    form(method='post', action='/login')
        label Username:
        input(type='text', name='username', required)
        label Password:
        input(type='password', name='password', required)
        button(type='submit') Sign in
        a(href='/') Nevermind
    p Don't have an account yet? 
        a(href='/signup') Sign up here!