extends layout
block content
    h1 Sign up
    if error
        p.error #{error}
    form(method='post', action='/signup')
        label First Name:
        input(type='text', name='firstName', required)
        label Last Name:
        input(type='text', name='lastName', required)
        label Username:
        input(type='text', name='username', required)
        label Password:
        input(type='password', name='password', required)
        label Confirm Password:
        input(type='password', name='confirmPassword', required)
        button(type='submit') Sign up
        a(href='/') Nevermind
    p Already have an account? 
        a(href='/login') Sign in here!
